/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 80px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #e6f3f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #25C685;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #25C685;
  }

  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    background-color: #f0faff;
  }
  
  .content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: #25C685;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #1ca470;
  }
  
  .image-container img {
    max-width: 100%;
    border-radius: 10px;
    transform: translateX(10%);
  }